{
	taxonList = (
		{
			highlightedImage = "Microserrullula_active_2x.png";
			standardImage = "Microserrullula_2x.png";
			taxonName = Microserrullula;
		},
		{
			highlightedImage = "Pseudoperyhpus_active_2x.png";
            standardImage = "Pseudoperyphus_2x.png";
			taxonName = Pseudoperyphus;
		},
		{
			highlightedImage = "Ochthedromus_active_2x.png";
			standardImage = "Ochthedromus_2x.png";
			taxonName = Ochthedromus;
		},
		{
			highlightedImage = "Odontium_active_2x.png";
			standardImage = "Odontium_2x.png";
			taxonName = Odontium;
		},
		{
			highlightedImage = "Bracteon_active_2x.png";
			standardImage = "Bracteon_2x.png";
			taxonName = Bracteon;
		},
	);
	animalData = (
		{
			biology = "This is a weird beast";
			class = Insecta;
			commonNames = (
				"Bembidion xanthacrum",
			);
			distinctive = "DIAGNOSTIC CHARACTER";
			distribution = "RANGE";
			family = Carabidae;
			genus = Bembidion;
			habitat = "HABITAT";
			identifier = 290931;
			"identifyingCharacteristics" = "DESCRIPTION";
			nativeStatus = "Native to WHERE";
			order = Coleoptera;
			phylum = Arthropoda;
			profileImages = (
				{
					credit = "David Maddison";
					filename = "Bembidion_xanthacrum_profile.jepg";
				},
			);
			species = xanthacrum;
			squareCropImage = (
				{
					filename = "Bembidion_xanthacrum_squareCrop.jepg";
				},
			);
			taxonGroup = Microserrullula;
		},
		{
			biology = "Members of the subgenus Bracteon may be the prettiest Bembidion";
			class = Insecta;
			commonNames = (
				"Bembidion inaequale",
			);
			distinctive = "DIAGNOSTIC CHARACTER";
			distribution = "RANGE";
			family = Carabidae;
			genus = Bembidion;
			habitat = "HABITAT";
			identifier = 290931;
			"identifyingCharacteristics" = "DESCRIPTION";
			nativeStatus = "Native to WHERE";
			order = Coleoptera;
			phylum = Arthropoda;
			profileImages = (
				{
					credit = "David Maddison";
					filename = "Bembidion_inaequale_profile.jpeg";
				},
			);
			species = inaequale;
			squareCropImage = (
				{
					filename = "Bembidion_inaequale_squareCrop.jpeg";
				},
			);
			taxonGroup = Bracteon;
		},
		{
			biology = "INSERT BIOLOGY HERE";
			class = Insecta;
			commonNames = (
				"American Bemb",
			);
			distinctive = "DIAGNOSTIC CHARACTER";
			distribution = "RANGE";
			family = Carabidae;
			genus = Bembidion;
			habitat = "HABITAT";
			identifier = 290931;
			"identifyingCharacteristics" = "DESCRIPTION";
			nativeStatus = "Native to WHERE";
			order = Coleoptera;
			phylum = Arthropoda;
			profileImages = (
				{
					credit = "David Maddison";
					filename = "Bembidion_americanum_profile.jpeg";
				},
			);
			species = americanum;
			squareCropImage = (
				{
					filename = "Bembidion_americanum_squareCrop.jpeg";
				},
			);
			taxonGroup = Ochthedromus;
		},
		{
			biology = "INSERT BIOLOGY HERE";
			class = Insecta;
			commonNames = (
				"Venerable Bemb",
			);
			distinctive = "DIAGNOSTIC CHARACTER";
			distribution = "RANGE";
			family = Carabidae;
			genus = Bembidion;
			habitat = "HABITAT";
			identifier = 290931;
			"identifyingCharacteristics" = "DESCRIPTION";
			nativeStatus = "Native to WHERE";
			order = Coleoptera;
			phylum = Arthropoda;
			profileImages = (
				{
					credit = "David Maddison";
					filename = "Bembidion_antiquum_profile.jpeg";
				},
			);
			species = antiquum;
			squareCropImage = (
				{
					filename = "Bembidion_antiquum_squareCrop.jpeg";
				},
			);
			taxonGroup = Pseudoperyphus;
            taxonSubgroup = "chalceum species group";
		},
		{
			biology = "INSERT BIOLOGY HERE";
			class = Insecta;
			commonNames = (
				"Bells' Bemb",
			);
			distinctive = "DIAGNOSTIC CHARACTER";
			distribution = "RANGE";
			family = Carabidae;
			genus = Bembidion;
			habitat = "HABITAT";
			identifier = 290931;
			"identifyingCharacteristics" = "DESCRIPTION";
			nativeStatus = "Native to WHERE";
			order = Coleoptera;
			phylum = Arthropoda;
			profileImages = (
				{
					credit = "David Maddison";
					filename = "Bembidion_bellorum_profile.jpeg";
				},
			);
			species = bellorum;
			squareCropImage = (
				{
					filename = "Bembidion_bellorum_squareCrop.jpeg";
				},
			);
			taxonGroup = Pseudoperyphus;
            taxonSubgroup = "chalceum species group";
		},
		{
			biology = "INSERT BIOLOGY HERE";
			class = Insecta;
			commonNames = (
				"COMMON BEMB NAME?",
			);
			distinctive = "DIAGNOSTIC CHARACTER";
			distribution = "RANGE";
			family = Carabidae;
			genus = Bembidion;
			habitat = "HABITAT";
			identifier = 290931;
			"identifyingCharacteristics" = "DESCRIPTION";
			nativeStatus = "Native to WHERE";
			order = Coleoptera;
			phylum = Arthropoda;
			profileImages = (
				{
					credit = "David Maddison";
					filename = "Bembidion_EPITHET_profile.jpeg";
				},
			);
			species = EPITHET;
			squareCropImage = (
				{
					filename = "Bembidion_EPITHET_squareCrop.jpeg";
				},
			);
			taxonGroup = TAXONGROUP;
			taxonSubgroup = "SUBGROUP IF ANY";
		},
	);
	versionID = "1.2";
}